Checks: |
  *
  -altera-*
  -android-*
  -abseil-*
  -cppcoreguidelines-*
  -hicpp-*
  -llvmlibc-restrict-system-libc-headers
  -readability-identifier-length
  -readability-function-size
  -google-readability-function-size
  -bugprone-easily-swappable-parameters
  -modernize-macro-to-enum
  -llvm-include-order

WarningsAsErrors: ""
HeaderFilterRegex: "-zephyr.h,-logging/log.h"
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: True
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstant
    value: Camel_Snake_Case
  - key: readability-identifier-naming.GlobalConstantCase
    value: lower_case
  - key: readability-identifier-naming.StaticConstantCase
    value: lower_case
  - key: readability-identifier-naming.StaticConstantPrefix
    value: "prv_"
  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: "prv_"
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: 0;1;2;3;4;5;6;7;8;9;10;50;99;100;101;1000;16;32;64;128;255;512;1024;2048;4096;8192;16384;32768;32768;60;3600;
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: true
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: 0.25;0.5;0.75;1.0;2.0;3.0;10.0;100.0;1000.0;0.1;0.001;0.0001;-1.0;-2.0;-3.0;
